<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<!-- <suite name="AllTestsSuite" verbose="1"> -->
    <suite name="Annotation Execution Suite" parallel="methods" thread-count="3"> 
        <test name="MyTestGroup">
        <parameter name="program"  value="Bootcamp API Automation"/>
            <classes>
                <class name="testng.ParallelTestNG" />
                <!-- <class name="testng.ParallelTestNG2" />
                <class name="testng.TestNG" /> -->
            </classes>
        </test>
    </suite>
<!-- </suite> --> 